body {
    background-color: black;
    color: white    
}

button {
background-color: #2dc875;
font-size: 20px; 
width: 100px;  
text-align: center;
margin-left: 150px;
margin: 100;
}

button:hover {
    color: rgb(240, 211, 126);
    background-color: #ffffff;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}